<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/home_layout.html}">

<head>
    <title>Group</title>
</head>

<body>
<main id="main" class="main" layout:fragment="content">

    <div class="container">

        <div class="my-2">

            <div th:switch="${notificationDefaulters}" class="my-5">

                <div class="col-md-12">
                    <h2 th:case="null">No Defaulters Yet</h2>
                    <div th:case="*">


                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Notification Defaulter  Table</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr th:style="@{background: #365bc7;color: white;}">

                                            <th>Student Name</th>
                                            <th>Student Class</th>
                                            <th>Phone Number</th>
                                            <th>Error Message</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="defaulters : ${notificationDefaulters}">
                                            <td th:text="${defaulters.studentName}"></td>
                                            <td th:text="${defaulters.ClassName}"></td>
                                            <td th:text="${defaulters.phoneNumber}"></td>
                                            <td th:text="${defaulters.errorMessage}"></td>
                                            <!--                  <td><a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>-->
                                            <!--                  <td><a th:href="@{/students/delete/{id}(id=${student.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </div>

    </div>


</main>
</body>

</html>