<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/reset-password.html}" xmlns="http://www.w3.org/1999/html"
      xmlns:Attachment="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
      
      <head>
		  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Notification</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/img/campusive_notify_small.png}" rel="icon">
  <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link th:href="@{https://fonts.gstatic.com}" rel="preconnect">
  <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/vendor/simple-datatables/style.css}" rel="stylesheet">
 <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css}">
  <!-- Template Main CSS File -->
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <!-- //<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css}">-->
   
  
    
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js}"></script>
   
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
    
<!--    <link th:href="@{https://unpkg.com/bootstrap@5.3.1/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{node_modules/use-bootstrap-select/dist/use-bootstrap-select.min.css}" rel="stylesheet">
    
    <script th:src="@{https://unpkg.com/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{node_modules/use-bootstrap-select/dist/use-bootstrap-select.min.js}"></script>
-->    
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css}" />
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js}"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js}"></script>

    
    <style>
#more {display: none;}

</style>
<style>
	
	.bootstrap-select > .dropdown-toggle.bs-placeholder
	{
		color: #787878;
    height: 43px;
    background: transparent;
    border: 1px solid #b2b2b2;
	}
	.bootstrap-select .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: auto;
    height: 218px;
}
	
	.wrapper{
    
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    width:fit-content
    
 }
 select {
  padding: 3px 12px;
  outline: none;
  width: 250px;
  margin-bottom: 20px;
}
.widthHeight{
	overflow-y: scroll;
	height: 60px;
}

    .form-floating>label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    padding: 1rem 2rem;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: var(--bs-border-width) solid transparent;
    transform-origin: 0 0;
    transition: opacity .1s ease-in-out,transform .1s ease-in-out;
    font-size: 14px;
    color: #b5b5b5;
}
</style>
		  
	  </head>
	  
	  
	  <body>
		  <main layout:fragment="blank_content_1">
		  
		  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a th:href="@{/app/}" class="logo d-flex align-items-center">
        <img th:src="@{/img/campusive_notify_new.png}" alt="">

      </a>
      <div ><i class="bi bi-list toggle-sidebar-btn"></i></div>
    
    </div><!-- End Logo -->
    

	 <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li> <!--End Search Icon-->

        <li class="nav-item dropdown">
          <button class="logout-btn"><a href="/app/logout"><i class="fa fa-user" aria-hidden="true" style="margin-right:10px;"></i>Logout</a></button>
        </li>   <!--End Notification Nav -->


      </ul>
    </nav>   <!--End Icons Navigation -->

  </header>
  
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/app/groups/all">
          <i class="fa fa-users" aria-hidden="true"></i>
          <span>Groups</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/app/students/all">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          <span>Students</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/app/notifications/all">
          <i class="fa fa-bell" aria-hidden="true"></i>
          <span>Notification</span>
        </a>
      </li><!-- End Dashboard Nav -->


    </ul>

  </aside><!-- End Sidebar-->


		  <main id="main" class="main">
<!-- 
    <div class="pagetitle">
      <h1>Groups</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div> -->
    <!-- End Page Title -->
    <section class="section">
		
		<br>
		<br><br>
      <div class="row">
        <div class="col-lg-10 m-auto">
            <div class="card">
                <div class="card-body">
					
					<br>
					<div th:if="${session.message}" class="container">
                                    <div class="alert alert-success text-center" role="alert">
                                        <span th:text="${session.message.content}"></span>
                                    </div>

                                    <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                     </div>
                  <h5 class="card-title">Add Notification</h5>
    
                  <!-- Floating Labels Form -->
                  <form class="row g-3" th:action="@{/app/notifications/}" enctype="multipart/form-data" method="post" th:object="${notifications}">
                    <div class="col-md-8">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="floatingName" th:field="*{notificationTitle}" placeholder="Notification Title" required>
                        <label for="floatingName">Notification Title</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect" aria-label="Notifcation Category" required th:field="*{notificationType}">
                              <option value="0">Notification Category</option>
                              <option value="GENERAL">GENERAL</option>
                               <option value="HOLIDAY">HOLIDAY</option>
                               <option value="EXAM_DATE">EXAM_DATE</option>
                               <option value="SCHOOL_TIMING">SCHOOL_TIMING</option>
                               <option value="FEE_REMINDER">FEE_REMINDER</option>
                               <option value="DISCIPLINARY_ACTION">DISCIPLINARY_ACTION</option>
                            </select>
                            <label for="floatingSelect">Notification Category</label>
                          </div>
                    </div>
                    
                    <div class="form-floating col-md-12">
                        <input type="text" class="form-control" id="floatingName1" th:field="*{notificationBody}" rows="3" style="height: 120px;"  placeholder="  Notification Body" required>
                        <label for="floatingName1">   Notification Body</label>
                      </div>
                    
<!--                    <div class="form-group">
                                        <select class="selectpicker" multiple data-live-search="true"   data-actions-box="true" th:field="*{{groupId}}">
                                            <option th:each="group : ${allGroups}" th:value="${group.groupId}" th:text="${group.groupName}"></option>
                                        </select>
                                        <select class="selectpicker"  multiple data-live-search="true" data-actions-box="true"  th:field="*{{phoneNumbers}}">
                                            <option th:each="student : ${allStudents}" th:value="${student.phoneNumber}" th:text="${student.studentName} + ' ' +'('+ ${student.groupName}+')'"></option>
                                        </select>
                   </div>
                   
-->                 
					 <div class="col-md-6 mt-10" style=" margin-top: 33px;">
						 <label for="floatingSelect">Select Group</label>
                        <div class="form-floating mb-3 ">
							
                            <select class=" selectpicker" id="example-multiple" onmousedown="if(this.options.length>8){this.size=8;}"  onchange='this.size=0;' onblur="this.size=0;" aria-label="State" th:field="*{{groupId}}" data-actions-box="true" multiple data-live-search="true">
                              <option th:each="group : ${allGroups}" th:value="${group.groupId}" th:text="${group.groupName}"></option>                                        
                           
                            </select>
                            
                          </div> 
                    </div>
                    <div class="col-md-6 mt-10" style=" margin-top: 33px;">
						 <label for="floatingSelect">Select Student</label>
                        <div class="form-floating mb-3 ">
                            <select class=" selectpicker " size="5" style="width:100px;" data-actions-box="true" th:field="*{{phoneNumbers}}" multiple data-live-search="true">
                              <option th:each="student : ${allStudents}" th:value="${student.phoneNumber}" th:text="${student.studentName} + ' ' +'('+ ${student.groupName}+')'"></option>                                       
                            </select>
                           
                          </div>
                    </div>
                      
                    <div class="col-md-12">
                        <input type="file" class="form-control" aria-label="file example" id="input"   th:field="*{file}" >
<!--                                        <span id="span"></span>-->
                                        <span>    File Size Should Not Exceed 2MB and Extension will be only JPG/JPEG or PDF!!!</span> 
                    </div>
                   
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-3" style="font-weight: 700;">Send Notification</button>
                    </div>
                  </form><!-- End floating Labels Form -->
    
                </div>
              </div>
        </div>

      </div>
    </section>
    
   
     <script>
  $(function () {
    $('.selectpicker').selectpicker();
    $('.selectpicker').selectpicker('selectAll');
    $('.selectpicker').selectpicker('deselectAll');
});
</script>

<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("${notifications.notificationId}");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read less";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read more";
    moreText.style.display = "inline";
  }
}
</script>


    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
        
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Notification Status</h5>
      
        
                      <!-- Table with stripped rows -->
                      <table class="table datatable table-bordered border-top border-bottom">
                        <thead>
                          <tr>
                            <th scope="col">Notification Title</th>
                            <th scope="col">Notification Type</th>
                            <th scope="col">Notification Body</th>
                            <th scope="col">Sender</th>
                            <th th:text="${notifications.groups} ? 'Students' : 'Class'"></th>
                            <th scope="col">Attachment</th>
                            <th scope="col">Status</th>
                            <th scope="col">Creation Time</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="notifications : ${allNotifications}">

                         	<td th:text="${notifications.notificationTitle}"></td>
                            <td th:text="${notifications.notificationType}"></td>
                            <td th:text="${notifications.notificationBody}"></td>
                            <td th:text="${notifications.createdBy}"></td>
<!--                        <td><p th:text="${#strings.abbreviate(notifications.groups,10)} "></p></td>-->
<!--                        <td th:text="${notifications.groups} ? ${notifications.groups} : ${notifications.phoneNumbers}" ></td>-->
<!--                        <td><span id="dots"><span th:text="${#strings.abbreviate(notifications.groups,10)} " ></span></span></span><span id="more"></span><button onclick="myFunction()" id="${notifications.notificationId}" class="btn btn-link">Read more</button></td>-->
                            <td><a th:href="@{/app/notifications/group/{notificationId}(notificationId=${notifications.notificationId})}" class="btn btn-link mx-auto d-block"><button type="button" class="btn btn-link">Student/Class</button></a></td>
<!--                        <td  ? ${notifications.fileLink} : 'NA'"></td>-->
<!--                        <td ><a th:href="${notifications.fileLink}" class="btn btn-link mx-auto d-block"><span >Attachment</span></a></td>-->
                            <td ><a th:href="${notifications.fileLink}" class="btn btn-link mx-auto d-block"><button type="button" class="btn btn-outline-primary">Attachment</button></a></td>
<!--                                                <td th:text="${teacher.active} ? 'ACTIVE' : 'RETIRED'" />-->

                       		<td> 
							<a th:href="@{/app/notifications/defaulters/{id}(id=${notifications.notificationId})}">
							<button type="button" class="btn btn-warning" th:if="${notifications.status} == 'Partially Successful'" th:text="${notifications.status}"></button>
							<button type="button" class="btn btn-success" th:if="${notifications.status} == 'Successful'" th:text="${notifications.status}"></button>
							
							</a>
							</td>
                       		<td th:text="${notifications.createdOn}"></td>
     <!--                  <td><a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>-->
    <!--                  <td><a th:href="@{/students/delete/{id}(id=${student.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>-->
                    	<td style="text-align: center;"><a th:href="@{/app/notifications/delete/{notificationId}(notificationId=${notifications.notificationId})}" ><i class="fa fa-trash-o" aria-hidden="true" style="color: red;"></i></a></td>
                           </tr>
                        </tbody>
                      </table>
                      <!-- End Table with stripped rows -->
        
                    </div>
                  </div>
        
                </div>
              </div>
        </div>

      </section>
</main>
		  <script th:src="@{/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/js/main.js}"></script>
		  </main>
		  
		  
	  </body>